#lights {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: absolute;
}

canvas {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {

  #lights {
    width: 100%;
    height: 95%;
    overflow: hidden;
    position: absolute;
  }

}
