
video{
  position: fixed;
  top: 50%;
  left: 50%;
  transform :translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.back::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -2;
}

.wording {
  position: absolute;
  top: 50%;
  left: 50%;
  transform :translate(-50%, -50%);
  height: 500px; /* Same as image size */
  width: 500px; /* Same as image size */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.letter {
  color: white;
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  transform-origin: 0 210px;
}
.profile img {
  position: relative;
  z-index: 1;
}

.items{
  color: black;
  position: absolute;
  background-color: white;
  padding: 2px 3px;
  top: 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.nav-items:hover{
  cursor: pointer;
  background-color: rgb(0, 94, 255);
  box-shadow: 0px 0px 20px rgba(13, 98, 255, 0.7);
  transition: all 0.3s ease;
}

.nav-items:hover .items{
  opacity: 1;
  top: -30px;
  transition: all 0.3s ease;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.9s linear infinite alternate both;
	        animation: vibrate-1 0.9s linear infinite alternate both;
}
/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
